.container{}

.topnav{ position:relative; background:rgba(255,255,255,.95); box-shadow:rgba(0,0,0,.3) 0 0 5px; z-index:1000;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.topnav_bd{ padding:0 5%; margin:0 auto;}
.topnav .logo{ width:275px; margin:0 auto; padding-top:100px; padding-bottom:40px;}

.navlist{ position:fixed; top:0; left:0; right:0; width:100%; background:rgba(255,255,255,.9); box-shadow:rgba(0,0,0,.3) 0 0 3px; z-index:1000;
    -webkit-backdrop-filter:saturate(180%) blur(10px);
}
.navlist .item{ float:left; padding-top:10px}
.navlist .lk{ display:block; height:26px; line-height:26px; white-space:nowrap; padding:12px; font-family:century_gothicregular; color:#666}
.navlist .select .lk,
.navlist .lk:active,
.navlist .lk:hover{ color:#f84197}

.pg_banner{ position:relative;}
.pg_banner_bd{ padding:2.5em 5% 3.5%; margin:0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.pg_banner .tit{ font-size:1.5em; line-height:1.7}
.pg_banner .subtit{ font-size:1.125em; text-transform:uppercase; letter-spacing:.08em}
.pg_banner .tit,
.pg_banner .subtit{}
.pg_banner .dc{ line-height:1.5em}
.pg_banner .com{ margin-top:5px; text-transform:uppercase;}

.dotlist{ padding-left:20px; margin-bottom:0}
.dotlist li{ list-style:square;}

.scewwrap{ position:relative; background:rgba(255,255,255,.6); border-radius:10px; overflow:hidden;
	box-shadow:rgba(0,0,0,.2) 0 0 15px
}
.scewwrap .c1{ padding:20px 20px 0;
	font-weight:bold;
}
.scewwrap .c1 .t{}
.scewwrap .c2{ padding:20px; overflow: hidden;}

.sidephone{ position:relative;}
.sidephone .c1{}
.sidephone .c2{ text-align:center;}

.mod{ overflow:hidden;}
.mod_bd{ padding:3.5% 5%; text-align:justify;}
.mod .desc{ margin:5px auto 0;}
.mod .tit{ font-family:"me-bold",helvetica,sans-serif; text-transform:uppercase; letter-spacing:.08em; margin:0; line-height:1.7}

.imgWrap{ padding:10px 0 0; text-align:center;}
.imgWrap .inner{ position:relative; display:inline-block; vertical-align:top}
.imgWrap .inner .imgAni{ position:absolute; width:100%; height:100%; left:0; top:0}
.imgWrap .inner .imgAni img{ max-width:100%; max-height:100%}
.imgWrap .inner .placer{ opacity:0; visibility:hidden;}
.videoWrap{ position:relative; margin:10px auto 0; text-align:center;}
.videoWrap .placer{ display:none; width:100%}
.videoWrap .control{ cursor:pointer; position:absolute; width:100%; height:100%; top:0; left:0; background:#000 url(../assets/images/play@2x.png) center center no-repeat; background-size:80px 80px}
.videoWrap .video{ width:100%}

.imgWrap .cols3 .area{}

.pos_dots{ display:none; position:fixed; right:0; bottom:30px; width:50px; z-index:999;}
.pos_dots .c1{ display:none; padding:20px 0; background:rgba(0,0,0,.5); border-radius:18px 0 0 18px}
.pos_dots .c1 .lk{ display:block; padding:10px 20px;}
.pos_dots .c1 .lk .dot{ display:block; width:10px; height:10px; font-size:0; overflow:hidden; border-radius:5px; background-color:#999}
.pos_dots .c1 .active .dot{ background-color:#fff}
.pos_dots .c2{ margin-top:40px; background:rgba(0,0,0,.5); border-radius:18px 0 0 18px}
.pos_dots .c2 .lk{ display:block;}
.pos_dots .c2 .lk .arr{ display:block; height:50px; background:url(../assets/images/toparr@2x.png) -50px 0 no-repeat; background-size:100px 50px}
.pos_dots .c2 .lk:active .arr,
.pos_dots .c2 .lk:hover .arr{ background-position:0 0}

.selfIntro{ margin:0 auto; padding:0 5%; line-height:1.8em; text-align:left; box-sizing:border-box;}
.selfIntro .c1,
.selfIntro .c2{ width:100%; float:left;}
.selfIntro .t{ float:left; text-align:right; width:35%; padding-right:3%; font-weight:bold}
.selfIntro .c{ overflow:hidden}

.copyright .bd{ margin:0 auto; max-width:1200px; border-top:#a13696 1px solid; color:#a13696}

.frameTb{ width:100%}
.frameTbCon{ margin:0 auto; max-width:1200px}

@media screen and (min-width:768px){

	.topnav.checked{ background:rgba(255,255,255,.75);}

	.frameTb{ position:absolute; left:0; top:0; height:100%;}
	.frameTb .tb1{}
	.frameTb .tb2{ vertical-align:bottom;}
	.frameTbCon{ width:75%; margin-top:200px;/* padding-bottom:5%*/}

	.topnav{ position:fixed; top:0; left:0; right:0; width:100%;}
	.topnav_bd{ width:75%; max-width:1200px; padding:0 20px;}
	.topnav .logo{ float:left; padding-top:27px; padding-bottom:3px}

	.navlist{ position:static; width:auto; background:none; box-shadow:none; float:right;-webkit-backdrop-filter:none;}
	.navlist .item{ float:left; padding-top:30px}
	.navlist .lk{ padding:12px 20px; font-size:1.25em}
	.pg_banner_bd{ padding:7% 0 3%; min-height:200px; max-width:1600px;
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		-o-box-sizing:content-box;
		-ms-box-sizing:content-box;
		box-sizing:content-box;
	}
	.pg_banner .tit{ font-size:3.5em;}
	.pg_banner .subtit{ margin-top:-15px; font-size:1.25em}
	.pg_banner .com{ margin-top:25px}

	.mod_bd{ padding:2.5% 0;}
	.mod .desc{ margin:5px auto 0; width:100%; max-width:1000px; box-sizing:border-box; padding:0 .7%;}

	.imgWrap{ padding:25px 20px 0;}
	.videoWrap{ width:100%; max-width:900px}
	.videoWrap .placer{ display:block; opacity:0}
	.videoWrap .video{ position:absolute; left:0; top:0; width:100%; height:100%}

	.imgWrap .cols3 .area{ width:33%; float:left;}
	.imgWrap .cols3 .dotlist{ width:68%; margin:0 auto;}

	.scewwrap .c1{ padding:0; position:absolute; overflow:hidden; left:0; top:0; height:100%; width:240px;
		background-image:url(../assets/images/scewbg.png);
		background-image:-webkit-image-set(url(../assets/images/scewbg.png) 1x,url(../assets/images/scewbg@2x.png) 2x);
		background-position:right 0;
		background-repeat:no-repeat;
		background-size:cover;
		padding-left:30px;
	}
	.scewwrap .c1 .t{ position:absolute; left:30px; width:100%; line-height:30px; top:50%; margin-top:-15px;}
	.scewwrap .c2{ padding:20px 20px 20px 250px;}

	.sidephone .c1{ float:left; width:67%}
	.sidephone .c2{ position:absolute; right:-5%; width:35%; bottom:0; overflow:hidden;}

	.pos_dots{}
	.pos_dots .c1{ display:block}

	.selfIntro{ background:url(../assets/images/spacer1.png) center center repeat-y; background-size:2px 30px; margin:0 auto; width:100%; max-width:880px;}
	.selfIntro .c1,
	.selfIntro .c2{ width:50%}
	.selfIntro .t{ width:97%; padding-left:5%; text-align:left}
	.selfIntro .c{ padding-left:5%}

}
@media screen and (min-width:768px){
	.frameTbCon,
	.copyright .bd,
	.selfIntro,
	.mod .desc{ max-width:690px;}
}
@media screen and (min-width:1200px){
	.frameTbCon,
	.copyright .bd,
	.selfIntro,
	.mod .desc{ max-width:1080px;}
	.selfIntro .t{ width:25%; padding-left:3%; text-align:right}
	.selfIntro .c{ padding-left:3%; padding-right:3%}
}

@media screen and (min-width:1600px){
	.frameTbCon,
	.copyright .bd,
	.selfIntro,
	.mod .desc{ max-width:1440px;}
}


.mod .imgWrap{ opacity:0;
	-webkit-transform:translateY(10px);
	-webkit-transition:all .5s ease-in-out;
	-moz-transform:translateY(10px);
	-moz-transition:all .5s ease-in-out;
	-o-transform:translateY(10px);
	-o-transition:all .5s ease-in-out;
	-ms-transform:translateY(10px);
	-ms-transition:all .5s ease-in-out;
	transform:translateY(10px);
	transition:all .5s ease-in-out;
}
.active .mod .imgWrap,
.active.mod .imgWrap{ opacity:1;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
}

/*2017*/

.switcher_l,
.switcher_r{ font-size:.75rem; display:none; opacity:.9; position:fixed; z-index:1000; top:50%; margin-top:-3.125em; padding:2.125em; width:6.25em; height:6.25em; background-color:rgba(0,0,0,.5)}
.switcher_l i,
.switcher_r i{ display:block; width:2em; height:2em; border:#fff 1px solid; border-top:none; border-right:none;}
.switcher_l{ left:0; padding:2.125em 1.625em 2.125em 2.625em;}
.switcher_r{ right:0; padding:2.125em 2.625em 2.125em 1.625em;}
.switcher_l i{ transform:rotate(45deg); transform-origin:;}
.switcher_r i{ transform:rotate(-135deg);}
.switcher_l:hover,
.switcher_r:hover{ opacity:1}

/*subtitle*/
.subtitle{ font-size:.5rem; font-weight:100; text-transform:uppercase; letter-spacing:.08em}
.subtitle .iconfont{ font-size:2.5em; margin-right:.3em;}
.subtitle .t{ letter-spacing:.08em}
.e_subtitle_1 .iconfont{ color:#231815}
.e_subtitle_1 .t{ color:#000; font-size:4em}
.e_subtitle_2 .iconfont,
.e_subtitle_2 .t{ color:#fff;}
.e_subtitle_2 .t{ font-size:4.25em}
.e_subtitle_3 .iconfont,
.e_subtitle_3 .t{ color:#000;}
.e_subtitle_3 .iconfont{ font-size:1em}
.e_subtitle_3 .t{ font-size:1.5em;}

/*headnav*/
.headnav{ position:absolute; z-index:1000; width:100%; left:0; top:0; font-size:.75rem; background-color:rgba(255,255,255,.8);}
.headnav .logo{ padding:.5em 0}
.headnav .logo .lk{ line-height:1; display:inline-block; vertical-align:top; color:#000}
.headnav .logo .lk:link,
.headnav .logo .lk:active,
.headnav .logo .lk:hover{ text-decoration:none;}
.headnav .logo .iconfont{ font-size:2em; vertical-align:middle; margin-right:.3em}
.headnav .logo .t{ display:none; font-size:2em; vertical-align:middle; text-transform:uppercase; letter-spacing:.08em}
.headnav .option{ padding:.5em 0; text-align:right}
.headnav .option .iconfont,
.headnav .option .t{ vertical-align:middle;}
.headnav .option .iconfont{ margin-right:.5em}
.headnav .option .t{ font-size:1.25em; text-transform:uppercase; letter-spacing:.08em}

@media (min-width: 768px){
	.headnav{ font-size:1rem;}
}
@media (min-width: 1200px){
}
@media (min-width: 1600px){
}

/* pagefoot
----------------------------------------------------------------*/

.pagefoot{ background-color:#000; color:#9bb5c5; line-height:5rem}
.pagefoot .inner{ max-width:100%; margin:0 auto;}
.pagefoot .inner .c1{ width:40%; float:left; padding-left:10px; box-sizing:border-box;}
.pagefoot .inner .c2{ overflow:hidden; padding-right:10px; box-sizing:border-box;}

.logofoot{ font-size:2em;}
.copyright{ font-size:1em;}
@media (min-width: 768px){

	.switcher_l,
	.switcher_r{ display:block;}
	.pagefoot .inner{ max-width:690px}
}
@media (min-width: 1200px){

	.switcher_l,
	.switcher_r{ font-size:.875rem;}
	.pagefoot .inner{ max-width:1080px}
}
@media (min-width: 1600px){

	.switcher_l,
	.switcher_r{ font-size:1rem;}
	.pagefoot .inner{ max-width:1440px}
}
